.NavLink {
  display: flex;
  text-decoration: none;
  width: 100%;
  padding: 0 9q;
  color: black;
}

.CollapseClick {
  cursor: pointer;
  // &.CollapseClickActive {
  // background-color: rgb(237, 231, 246);
  // }

  .ArrowDownIcon {
    transform: rotate(180deg);
  }
}

div.overview {
  padding-left: 8px;
}

div.ListItemButton {
  border-radius: 99q;
  margin: 1q 9q;
}