div.Body {
  border: dashed 1px rgb(0, 82, 204);
  border-radius: 1em;
  margin: 1ch 1ch 0;
  background-color: rgb(241, 243, 245);
  box-shadow: inset 2px 2px 30px rgba(0, 82, 204, .1), inset -2px -2px 30px rgba(0, 82, 204, .1);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 80vw;
  margin: 9q auto;
  // max-width: 99%;

  div.fileButton {
    padding: 1em 0;

    &>button {
      padding: 1ch 1em;
      margin: 1ch 0;
      min-height: 56px;

      &>div.circleParent {
        display: none;

        &>div {
          border-radius: 50%;
          border: solid;
          border-bottom: none;
          border-right: none;
          animation: circle 2s forwards linear infinite;
          width: 1em;
          height: 1em;
          text-align: center;
          display: inline-block;
        }
      }


    }

    &>button:not([disabled]) {
      cursor: pointer;
    }

    &>button[disabled] {
      cursor: not-allowed;
    }

    &>label {
      color: rgba(255, 0, 0, .8);
      font-size: 1ch;
      transform: translateY(-1mm);
    }

    input[type="file"].fileInput {
      max-width: 11em;
      border: dotted 1q rgba(0, 0, 0, 0.5);
      padding: 1mm;
      cursor: pointer;
    }

    .result {

      // display: none;
      .checkbox {
        margin-left: 1em;
      }

      .resultTitle {
        margin: 1vmax 0;
      }

      &>button:nth-child(3) {
        border-radius: 1ch;
        cursor: pointer;
      }

      .flex-container {
        display: flex;

        &>div>button {
          padding: 5q 9q;
          cursor: pointer;
          margin: 9q 0;
          padding: 0 9q;
        }

        &>div>hr {
          width: 80%;
          margin: 0 auto;
          color: blue;
          border: 0;
          border-bottom: 1q dashed rgba(0, 0, 255, .5);
        }

        &>div>p {
          font-size: 1em;
          padding-bottom: 9q;
          min-width: 16em;
          font-family: kaiti;
          font-weight: bolder;
        }

        &>div {
          width: 50%;
        }

        &>div>div>div>button {
          margin-left: 9q;
          border-radius: 1ch;
          cursor: pointer;
        }

        .grid-container {
          // grid-template-columns: auto;
          // justify-items: center;
          // justify-content: center;
          margin: 0 auto;
          // gap: 4mm;
          margin-bottom: 4mm;

          // &>div:last-child:nth-last-child(1) {
          //   grid-column-start: 1;
          //   grid-column-end: 3;
          // }

          &>div {
            max-width: 30em;
            max-height: 16em;
            border-width: 1q;
            border-style: dotted;
            border-color: rgba(0, 20, 255, .5);
            box-sizing: content-box;
            border-radius: 2em;
            display: flex;
            margin: 9q auto;
            justify-content: center;
            padding: 9q;
            align-items: center;
            gap: 30px;
          }

          &>div>img {
            border-radius: 1em;
            cursor: pointer;
            width: 256px;
          }
        }
      }
    }
  }
}