.paper {
  margin: 9q auto;
  width: 99%;
  box-shadow: none;

  * {
    user-select: initial;
  }

  &>button {
    margin-bottom: 9q;
  }

  button.actionButton {
    margin: auto 9q;
  }

  &>div>div.MuiTableContainer-root>table>tbody>tr>td:nth-child(5)>button {
    margin: auto 9q;
  }
}