.text-annotation {
  display: flex;

  %common {
    padding: 20px 0;


    & > div {
      position: relative;
      border-top-style: solid;
      border-bottom-style: solid;
      border-radius: 0;
      $fontSize: var(--fontSize);

      & > .text-annotation-text {
        // white-space: pre-line;
        word-break: break-all;
        min-height: 41.6px;

        padding: 0 20px;
        white-space: pre-line;

        &,
        * {
          text-align: start;
          font-size: $fontSize;
        }
      }

      & > .textAnnotationSide {
        position: absolute;
        top: 0;
        left: 0;
        border-right: dashed 1q;
        font-size: $fontSize;
      }
    }
  }

  & > &-left {
    @extend %common;
    flex: 6;
    border-right: 1px solid #ccc;
  }

  & > &-right {
    @extend %common;
    flex: 4;
  }
}