.root {
  margin: 9q;

  .Skeleton {
    padding: 9q;

    > span {
      min-height: var(--height);
    }
  }

  td,
  th {
    border-radius: unset;

    &.aLink {
      color: #06c;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  th {
    font-weight: 900;
    font-size: 120%;
  }

  thead > tr > th {
    background-color: #eceff1;
  }
}